@import 'flat';

body, html {
	padding: 0;
	margin: 0;
	font-family: $f_montserrat;
	text-align: center;
	background: #494b54;
	color: #c1c1c1;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 40px 20px;
}

p {
	font-size: 9pt;
}

em {
	font-style: normal;
}

strong {
	color: #ffed00;
}

code {
	background-color: #3e3f4a;
	color: #1dd660;
	font-family: courier, mono;
	display: block;
	padding: 10px;
	font-size: 9pt;

	em {
		color: #ccc;
	}

}

ul {
	padding-left: 24px;
}

li {
	font-size: 9pt;
	font-weight: bold;
}

h1 {
	font-size: 55pt;
	font-family: $f_bitter;
	line-height: 1;
	display: block;

	@media (max-width: 500px) {
		font-size: 44pt;
	}

	strong {
		color: #ffcf5d;
	}
}

section.gallery {
	background: #242733;
	margin: 23px 0 0;
}

section.content {
	text-align: left;

	h2 {
		font-size: 14pt;
	}
}

header {
	padding: 50px 0;

	h1 {
		margin: 0;
	}
}

footer {
	display: block;
	background: #222;
	color: #ccc;
	padding: 1px 0;

	p {
		font-size: 8pt;
	}

	a {
		text-decoration: none;
		color: #d6e41c;

		&:hover {
			color: #edff00;
		}
	}
}