/*!
 *  FlatCSS 1.0.0 by @aguacatek - https://aguacatek.github.io/flatCSS/
 *  License - MIT License
 */

$f_sans_serif: helvetica, sans-serif, verdana;
$f_montserrat: 'Montserrat', $f_sans_serif;
$f_bitter: 'Bitter', $f_sans_serif;

$transition: 200ms;

// Colors
$blue: #116ec4;
$red: #d73333;
$cyan: #38c7d2;
$yellow: #ffcf5d;
$purple: #64429c;
$green: #5acf57;
$orange: #f9722e;
$fucsia: #da0040;
$mint: #34ce7e;
$brown: #a0613d;
$gray: #444;

$light-blue: lighten( $blue, 25%);


@mixin button-color( $name, $color )
{
  &.#{$name} {
    background-color: $color;
    box-shadow: 0px 3px 0 darken( $color, 10% );
    &:hover {
      background-color: darken( $color, 10% );
      box-shadow: 0px 3px 0 darken( $color, 20% );
    }
    &:active {
      background-color: lighten( $color, 20% );
      box-shadow: 0px 3px 0 lighten( $color, 10% );
      color: darken( $color, 20% );
    }

  }
}

.flat {
	$original-color: #888;
	font-size: 9pt;
	font-family: $f_montserrat;
	font-weight: 500;
	letter-spacing: 1pt;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

    box-sizing: border-box;
	display: inline-block;
    margin: 7px 4px 4px;
	padding: 17px 44px;
    min-width: 200px;
	color: #fff;
	transition: all $transition ease;

	border-radius: 0;
	border: 0;

	background-color: $original-color;
	box-shadow: 0px 3px 0 darken( $original-color, 10% );

    &:active {
      background-color: lighten( $original-color, 20% );
      box-shadow: 0px 3px 0 lighten( $original-color, 10% );
      color: darken( $original-color, 20% );
    }

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
		background-color: darken( $original-color, 10% );
		box-shadow: 0px 3px 0 darken( $original-color, 20% );
	}

	@include button-color( "light-blue", $light-blue );
	@include button-color( "blue", $blue );
	@include button-color( "red", $red );
	@include button-color( "cyan", $cyan );
	@include button-color( "yellow", $yellow );
	@include button-color( "purple", $purple );
	@include button-color( "green", $green );
	@include button-color( "orange", $orange );
	@include button-color( "fucsia", $fucsia );
	@include button-color( "mint", $mint );
	@include button-color( "brown", $brown );
	@include button-color( "gray", $gray );
	@include button-color( "grey", $gray );
}