- var pageTitle = "FlatCSS"
- var site = "Miguel Rivas"
- var fbPreview = "http://miguelrivas.me/img/flatcss.png"
- var icoPath = "http://miguelrivas.me/img/logo.png"
- var icoBackground = "#222"
- var description = "CSS Style for Flat Buttons"
- var viewPort = true