- var pageTitle = "FlatCSS"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/flatcss.png"
- var icoPath = "img/favicon.png"
- var icoBackground = "#222"
- var description = "CSS Style for Flat Buttons"
- var viewPort = true